<div class="details-layout">
    <aside>
        <div class="form-container">
            <div class="form-text">Форма создания детали</div>
            <mat-form-field>
                <input matInput [(ngModel)]="title" placeholder="Наименование">
            </mat-form-field>
            <mat-form-field>
                <textarea class="description" matInput [(ngModel)]="description" placeholder="Описание"></textarea>
            </mat-form-field>
            <mat-slide-toggle class="slider" [(ngModel)]="isPurchased">Покупное</mat-slide-toggle>
            <mat-form-field>
                <input matInput type="number" [disabled]="!isPurchased" [(ngModel)]="cost" placeholder="Стоимость">
            </mat-form-field>
            <button mat-raised-button color="primary" [disabled]="isNullOrWhitespace()" (click)="createDetail()">Создать деталь</button>
        </div>
    </aside>
    <main>
        <mat-card>
            <div class="table-container">

                <div class="loading" *ngIf="loading">
                    <mat-progress-spinner color="primary" mode="indeterminate" [strokeWidth]="8"></mat-progress-spinner>
                </div>

                <mat-table #table [dataSource]="dataSource">

                    <ng-container matColumnDef="title">
                        <mat-header-cell *matHeaderCellDef> Наименование </mat-header-cell>
                        <mat-cell *matCellDef="let detail"> {{detail.title}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="description">
                        <mat-header-cell *matHeaderCellDef> Описание </mat-header-cell>
                        <mat-cell *matCellDef="let detail"> {{detail.description}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="cost">
                        <mat-header-cell class="cost" *matHeaderCellDef> Стоимость </mat-header-cell>
                        <mat-cell class="cost" *matCellDef="let detail">
                            {{detail.cost}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="is-purchased">
                        <mat-header-cell class="is-purchased" *matHeaderCellDef> Покупное </mat-header-cell>
                        <mat-cell class="is-purchased" *matCellDef="let detail">
                            {{detail.isPurchased?"да":"нет"}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="routeName">
                        <mat-header-cell class="route-name" *matHeaderCellDef> Маршрут </mat-header-cell>
                        <mat-cell class="route-name" *matCellDef="let detail">
                            {{detail.routeName}}
                        </mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="deleteButton">
                        <mat-header-cell class="delete-button" *matHeaderCellDef></mat-header-cell>
                        <mat-cell class="delete-button" *matCellDef="let detail">
                            <button mat-icon-button color="primary" (click)="deleteDetail(detail)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                </mat-table>

                <mat-divider></mat-divider>

                <footer>
                    <mat-paginator [length]="pageLength" [pageIndex]="pageNumber" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="handlePageEvent($event)"></mat-paginator>
                </footer>

            </div>
        </mat-card>
    </main>

</div>
