<div class="production-items-layout">
    <main>
        <mat-card>
            <div class="table-container">

                <div class="loading" *ngIf="loading">
                    <mat-progress-spinner color="primary" mode="indeterminate" [strokeWidth]="8"></mat-progress-spinner>
                </div>

                <mat-table #table [dataSource]="dataSource">

                    <ng-container matColumnDef="title">
                        <mat-header-cell *matHeaderCellDef class="title"> Название </mat-header-cell>
                        <mat-cell *matCellDef="let productionItem" class="title"> {{productionItem.title}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="description">
                        <mat-header-cell *matHeaderCellDef> Описание </mat-header-cell>
                        <mat-cell *matCellDef="let productionItem"> {{productionItem.description}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="details-count">
                        <mat-header-cell *matHeaderCellDef class="details-count"> Кол-во деталей </mat-header-cell>
                        <mat-cell *matCellDef="let productionItem" class="details-count">{{productionItem.detailsCount}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="сhildren-count">
                        <mat-header-cell *matHeaderCellDef class="сhildren-count"> Кол-во узлов </mat-header-cell>
                        <mat-cell *matCellDef="let productionItem" class="сhildren-count">{{productionItem.childrenProductionItemsCount}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="openButton">
                        <mat-header-cell class="open-button" *matHeaderCellDef></mat-header-cell>
                        <mat-cell class="open-button" *matCellDef="let productionItem">
                            <button mat-icon-button color="primary" (click)="openProductionItem(productionItem)">
                                <mat-icon>open_with</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="deleteButton">
                        <mat-header-cell class="delete-button" *matHeaderCellDef></mat-header-cell>
                        <mat-cell class="delete-button" *matCellDef="let productionItem">
                            <button mat-icon-button color="primary" (click)="deleteProductionItem(productionItem)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                </mat-table>

                <mat-divider></mat-divider>

                <footer>
                    <button color="primary" mat-raised-button (click)="createProductionItem()">Создать продукцию</button>
                    <mat-paginator [length]="pageLength" [pageIndex]="pageNumber" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="handlePageEvent($event)">
                    </mat-paginator>
                </footer>

            </div>
        </mat-card>
    </main>

</div>
