$roboto-font-path: '../node_modules/roboto-fontface/fonts';
@import "node_modules/roboto-fontface/css/roboto/sass/roboto-fontface.scss";

@import '~@angular/material/theming';
@include mat-core();
$scheduler-primary: mat-palette($mat-indigo, 500, 100, 100);
$scheduler-accent: mat-palette($mat-indigo, A200, 600, 900);
$scheduler-warn: mat-palette($mat-orange, 500, 900);
$scheduler-theme: mat-light-theme($scheduler-primary, $scheduler-accent, $scheduler-warn);
@include angular-material-theme($scheduler-theme);


body {
    font-family: 'Roboto-Light';
    // background-color: #FAFAFA;
    // background-color: rgba(0,0,0,.87);
    background-color: map-get($mat-light-theme-background, background);
    color: white;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
}

mat-toolbar.site-header {
    min-height: 56px;

    mat-toolbar-row {
        height: 56px;
    }
}

html {
    height: 100%;
}
