@import '~@angular/material/_theming.scss';
.layout-order-quantums {
    width: 100%;
    .diagram-names {
        display: flex;
        justify-content: center;
        mat-card {
            width: 110px;
            margin-top: 20px;
            &.assemble-card {
                margin-top: 20px;
            }
        }
        .diagram {
            @include mat-elevation(4);
            overflow-x: auto;
            height: 220px;
            width: 70%;
            margin-left: 30px;
            background-color: white;
            .order-quantum-block {
                height: 67px;
                position: absolute;
                .production-name {
                    display: flex;
                    justify-content: center;
                    overflow: hidden;
                    max-height: 20px;
                }
                @include mat-elevation(4);
                &.mach {
                    cursor: pointer;
                    &:hover {
                        @include mat-elevation(10);
                    }
                }
                .times-view {
                    position: relative;
                    margin-top: 26px;
                    display: flex;
                    justify-content: space-between;
                    overflow: hidden;
                    .duration {
                        margin-top: 25px;
                    }
                    .from {
                        margin-left: 5px;
                    }
                    .to {
                        margin-right: 5px;
                    }
                }
            }
            .machining {
                display: flex;
                position: relative;
                margin-top: 20px;
                height: 67px;
            
                    display: flex;
                
            }
            .assembling {
                display: flex;
                margin-top: 20px;
                height: 67px;
                position: relative;
            
                    display: flex;
                
            }
        }
    }
    .scale-buttons {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        .minus {
            margin-left: 20px;
        }
    }
}
