$create-form:300px;
$paginator-height:56px;
@import '~@angular/material/_theming.scss';
:host {
    .routes-layout {
        display: flex;
        height: 100%;
        position: relative;
        main {
            flex: 1;
            height: 100%;
            position: relative; //background-color: #FAFAFA;
            mat-card {
                @include mat-elevation(4);
                min-width: 1000px;
                max-width: 1500px;
                padding: 0;
                position: relative;
                margin: auto;
                margin-top: 20px;
                height: calc(100% - 40px);
                background-color: #F2F2F2;
            }
            .table-container {
                height: 100%;
                position: relative;
                .loading {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    z-index: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: rgba(0, 0, 0, 0.1);
                }
                mat-table {
                    background-color: #F2F2F2;
                    height: calc(100% - #{$paginator-height});
                    position: relative;
                    overflow-y: auto;
                    mat-header-cell {
                        font-size: 16px;
                    }
                    .delete-button,
                    .open-button {
                        max-width: 60px;
                        button {
                            &:hover {
                                background: rgba(0, 0, 0, 0.12);
                            }
                            margin: 7px;
                        }
                    }
                }
                footer {
                    display: flex;
                    justify-content: space-between;
                    button {
                        margin: 10px;
                    }
                    mat-paginator {
                        background-color: #F2F2F2;
                    }
                }
            }
        }
    }
}
