<!-- <div class="form-container">
    <mat-form-field>
        <input matInput [(ngModel)]="title" placeholder="Наименование">
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="description" placeholder="Описание">
    </mat-form-field>
    <mat-slide-toggle [(ngModel)]="isNode">Является узлом</mat-slide-toggle>
    <mat-form-field>
        <mat-select [(ngModel)]="productionItemId" placeholder="Родительский элемент">
            <mat-option *ngFor="let productionItem of productionItems" [value]="productionItem.id">
                {{ productionItem.title }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-divider></mat-divider>
    <mat-form-field>
        <mat-select placeholder="Деталь" [(ngModel)]="detail">
            <mat-option *ngFor="let detail of viewDetails" [value]="detail">
                {{ detail.title }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="detailsCount" placeholder="Количество деталей">
    </mat-form-field> 
    <button mat-button (click)="addDetail()" [disabled]="!detailsCount||!detail">Добавить часть продукции</button>
<mat-divider></mat-divider>
    <mat-list class="production-item-quantums-list">
        <mat-list-item *ngFor="let productionItem of productionItemQuantums">                     
            <p matLine>
                <span>{{productionItem.detail.title}}</span>
                <span> {{productionItem.count}} </span>
            </p>
        </mat-list-item>
    </mat-list>


    <button mat-button (click)="createProductionItem()" [disabled]="!title||!productionItemQuantums.length">Создать продукцию</button>
</div>

<button mat-button (click)="closeDialog()">Закрыть</button> -->
<div class="create-production-item-layout">
    <mat-card>
        <header>
            <mat-form-field class="title">
                <input matInput [(ngModel)]="title" placeholder="Наименование">
            </mat-form-field>
            <mat-form-field class="description">
                <input matInput [(ngModel)]="description" placeholder="Описание">
            </mat-form-field>
            <button mat-raised-button color="primary">Создать продукцию</button>
        </header>
        <mat-divider></mat-divider>
        <main>
            <div class="column first">

                <mat-radio-group [(ngModel)]="viewDetails">
                    <mat-radio-button [value]="true">Детали</mat-radio-button>
                    <mat-radio-button [value]="false">Продукция</mat-radio-button>
                </mat-radio-group>

                <mat-divider></mat-divider>

                <div class="table-container">
                    <div class="loading" *ngIf="loading">
                        <mat-progress-spinner color="primary" mode="indeterminate" [strokeWidth]="8"></mat-progress-spinner>
                    </div>
                    <mat-table #table [dataSource]="dataSource">

                        <ng-container matColumnDef="title">
                            <mat-header-cell *matHeaderCellDef class="title"> Название </mat-header-cell>
                            <mat-cell *matCellDef="let productionItem" class="title"> {{productionItem.title}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="description">
                            <mat-header-cell *matHeaderCellDef class="description"> Описание </mat-header-cell>
                            <mat-cell *matCellDef="let productionItem" class="title"> {{productionItem.title}} </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                </div>

                <mat-divider></mat-divider>

                <div class="current-selected">

                </div>

                <mat-divider></mat-divider>

                <div>
                    <mat-paginator [length]="pageLength" [pageIndex]="pageNumber" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="handlePageEvent($event)"></mat-paginator>
                </div>
            </div>

            <div class="column second"></div>
        </main>
    </mat-card>

</div>
