<mat-radio-group class="orders-list" [(ngModel)]="selectedOrderId">
    <mat-radio-button class="order-item" *ngFor="let order of orders" [value]="order.id">
      {{order.name}}
    </mat-radio-button>
  </mat-radio-group>

<div>
    <button mat-button color="primary" class="calculate-button" [disabled]="!selectedOrderId||!orders || !orders.length" (click)="calculateOrder()">Рассчитать заказ</button>
</div>

<sch-view-order-quantums *ngIf="calculatedOrder" [order]="calculatedOrder" (selectedBlock)="selectedBlock= $event"></sch-view-order-quantums>

<sch-view-production-item-quantums-groups *ngIf="selectedBlock" [order]="calculatedOrder" (selectedGroup)="selectedGroup=$event"
    [selectedBlock]="selectedBlock">
</sch-view-production-item-quantums-groups>

<sch-view-production-item-quantum-group *ngIf="selectedGroup" [order]="calculatedOrder" [selectedGroup]="selectedGroup"></sch-view-production-item-quantum-group>
