<div class="layout">
    <div class="table">
        <div class="table-header">
            <div class="name">
                Наименование
            </div>
            <div class="description">
                Описание
            </div>
            <div class="equipment-system">
                Система
            </div>
            <div class="type">
                Тип
            </div>

        </div>
        <mat-list>
            <mat-list-item *ngFor="let equipment of equipments">
                <span class="name word-limitation">
                    {{equipment.name}}
                </span>
                <span class="description word-limitation">
                    {{equipment.description}}
                </span>
                <span class="equipment-system word-limitation">
                    {{equipment.conveyor?.name||equipment.workshop?.name}}
                </span>
                <span class="type word-limitation">
                    {{equipment.type.toString()|equipmentType}}
                </span>
                <button mat-button class="delete-button" (click)="deleteEquipment(equipment)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-list-item>
        </mat-list>
    </div>

    <div class="form-container">

        <mat-form-field>
            <input matInput [(ngModel)]="name " placeholder="Наименование">
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="description" placeholder="Описание">
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Тип оборудования" [(ngModel)]="type">
                <mat-option *ngFor="let typeOption of typeOptions" [value]="typeOption">
                    {{ typeOption|equipmentType }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select [(ngModel)]="workshop" [disabled]="conveyor" placeholder="Цех">
                <mat-option *ngFor="let workshop of workshops" [value]="workshop">
                    {{ workshop.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select [(ngModel)]="conveyor" [disabled]="workshop" placeholder="Конвейер">
                <mat-option *ngFor="let conveyor of conveyors" [value]="conveyor">
                    {{ conveyor.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-button [disabled]="checkInput()" (click)="createEquipment()">Добавить оборудование</button>
    </div>
</div>
