$create-form:300px;
$paginator-height:56px;
@import '~@angular/material/_theming.scss';
:host {
    .equipments-layout {
        display: flex;
        height: 100%;
        position: relative;
        aside {
            width:#{$create-form};
            height: 100%;
            position: relative;
            overflow-y: auto;
            background-color: #F2F2F2;
            @include mat-elevation(4);
            z-index: 900;
            .form-container {
                display: flex;
                flex-direction: column;
                padding: 20px;
                .description {
                    max-height: 100px;
                }
               
                .form-text {
                    text-align: center;
                    font-size: 16px;
                    font-family: 'Roboto';
                    margin-bottom: 5px;
                }
            }
        }
        main {
            width: calc(100% - #{$create-form});
            height: 100%;
            position: relative;
           // background-color: #FAFAFA;
            mat-card {
                @include mat-elevation(4);
                max-width: 1500px;
                padding: 0;
                position: relative;
                margin: auto;
                margin-top: 20px;
                height: calc(100% - 40px);
                background-color: #F2F2F2;
            }
            .table-container {
                height: 100%;
                position: relative;
                .loading {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    z-index: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: rgba(0, 0, 0, 0.1);
                }
                mat-table {
                    background-color: #F2F2F2;
                    height: calc(100% - #{$paginator-height});
                    position: relative;
                    overflow-y: auto;
                    mat-header-cell {
                        font-size: 16px;
                    }
                    .delete-button {
                        max-width: 60px;
                        button {
                            &:hover {
                                background: rgba(0, 0, 0, 0.12);
                            }
                            margin: 7px;
                        }
                    }
                    
                   
                }
                mat-paginator {
                    background-color: #F2F2F2;
                }
            }
        }
    }
}
