<div class="create-route-layout">
    <mat-card>
        <div class="loading" *ngIf="savingLoading">
            <mat-progress-spinner color="primary" mode="indeterminate" [strokeWidth]="8"></mat-progress-spinner>
        </div>

        <header>
            <mat-form-field class="name">
                <input matInput [(ngModel)]="name" placeholder="Название">
            </mat-form-field>
            <mat-form-field class="description">
                <input matInput [(ngModel)]="description" placeholder="Описание">
            </mat-form-field>

            <mat-form-field class="detail" *ngIf="selectedDetail">
                    <input matInput disabled [(ngModel)]="selectedDetail.title" placeholder="Деталь">
                </mat-form-field>

            <button mat-raised-button color="primary" (click)="createRoute()" [disabled]="!isValidSequence()||!this.name">Создать маршрут</button>
        </header>
        <mat-divider></mat-divider>
        <main>
            <div class="column first">

                <div class="table-container">
                    <div class="loading" *ngIf="detailsLoading">
                        <mat-progress-spinner color="primary" mode="indeterminate" [strokeWidth]="8"></mat-progress-spinner>
                    </div>

                    <mat-table #table [dataSource]="detailsDataSource">
                        <ng-container matColumnDef="title">
                            <mat-header-cell *matHeaderCellDef class="title"> Название </mat-header-cell>
                            <mat-cell *matCellDef="let detail" class="title"> {{detail.title}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="description">
                            <mat-header-cell *matHeaderCellDef class="description"> Описание </mat-header-cell>
                            <mat-cell *matCellDef="let detail" class="description"> {{detail.description}} </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="detailsDisplayedColumns"></mat-header-row>
                        <mat-row (click)="selectDetail(detail)" *matRowDef="let detail; columns: detailsDisplayedColumns;" [ngClass]="selectedDetail&&selectedDetail.id===detail.id?'selected':''"></mat-row>
                    </mat-table>

                    <mat-divider></mat-divider>

                    <div>
                        <mat-paginator [length]="detailsPageLength" [pageIndex]="detailsPageNumber" [pageSize]="detailsPageSize" [pageSizeOptions]="pageSizeOptions"
                            (page)="handleDetailsPageEvent($event)"></mat-paginator>
                    </div>
                </div>
            </div>

            <div class="column second">
                <mat-table #table [dataSource]="operationsDataSource">
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef class="name"> Название </mat-header-cell>
                        <mat-cell *matCellDef="let operation" class="name"> {{operation.name}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="equipment">
                        <mat-header-cell *matHeaderCellDef class="equipment"> Оборудование </mat-header-cell>
                        <mat-cell *matCellDef="let operation" class="equipment"> {{operation.equipment.name}} ({{operation.equipment.workshop?operation.equipment.workshop.name: (operation.equipment.conveyor?operation.equipment.conveyor.name:'')}})
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="add-button">
                        <mat-header-cell class="add-button" *matHeaderCellDef></mat-header-cell>
                        <mat-cell class="add-button" *matCellDef="let operation">
                            <button mat-icon-button color="primary" (click)="selectOperation(operation)" [disabled]="isOperationSelected(operation)||isAssemblinOperationAlreadySelected(operation)">
                                <mat-icon>add</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="operationsDisplayedColumns"></mat-header-row>
                    <mat-row [ngClass]="isOperationSelected(operation)?'selected':(isAssemblinOperationAlreadySelected(operation)?'assembling-selected':'')"
                        *matRowDef="let operation; columns: operationsDisplayedColumns;"></mat-row>
                </mat-table>
                <mat-divider></mat-divider>

                <div>
                    <mat-paginator [length]="operationsPageLength" [pageIndex]="operationsPageNumber" [pageSize]="operationsPageSize" [pageSizeOptions]="pageSizeOptions"
                        (page)="handleOperationsPageEvent($event)"></mat-paginator>
                </div>
            </div>

            <div class="column third">
                <div class="warning-message">
                    Расположите операции в том порядке, в котором деталь должна их проходить. У детали должна быть хотя бы одна операция сборки и
                    обработки.
                </div>
                <div class="list">
                    <mat-list>
                        <ng-container *ngFor="let departmentOperation of departmentOperations">
                            <mat-list-item class="department-operation">
                                <div class="name">
                                    {{departmentOperation.departmentName}}
                                </div>
                                <button mat-icon-button color="primary" (click)="moveUpDepartment(departmentOperation)" [disabled]="departmentOperations.length<2">
                                    <mat-icon>expand_less</mat-icon>
                                </button>
                                <button mat-icon-button color="primary" (click)="moveDownDepartment(departmentOperation)" [disabled]="departmentOperations.length<2">
                                    <mat-icon>expand_more</mat-icon>
                                </button>
                                <button mat-icon-button color="primary" (click)="deleteDepartment(departmentOperation)">
                                    <mat-icon>clear</mat-icon>
                                </button>
                            </mat-list-item>
                            <mat-list-item class="operation" *ngFor="let operation of departmentOperation.operations">
                                <div class="name">
                                    {{operation.name}}
                                </div>

                                <button mat-icon-button color="primary" (click)="moveUpOperation(departmentOperation,operation)" [disabled]="departmentOperation.operations.length<2">
                                    <mat-icon>expand_less</mat-icon>
                                </button>
                                <button mat-icon-button color="primary" (click)="moveDownOperation(departmentOperation,operation)" [disabled]="departmentOperation.operations.length<2">
                                    <mat-icon>expand_more</mat-icon>
                                </button>
                                <button mat-icon-button color="primary" (click)="deleteOperation(departmentOperation,operation)" [disabled]="">
                                    <mat-icon>clear</mat-icon>
                                </button>

                            </mat-list-item>
                        </ng-container>
                    </mat-list>
                </div>

            </div>
        </main>
    </mat-card>

</div>

