<div class="orders-items-layout">
    <main>
        <mat-card>
            <div class="table-container">

                <div class="loading" *ngIf="loading">
                    <mat-progress-spinner color="primary" mode="indeterminate" [strokeWidth]="8"></mat-progress-spinner>
                </div>

                <mat-table #table [dataSource]="dataSource">

                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef class="name"> Название </mat-header-cell>
                        <mat-cell *matCellDef="let order" class="name"> {{order.name}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="description">
                        <mat-header-cell *matHeaderCellDef> Описание </mat-header-cell>
                        <mat-cell *matCellDef="let order"> {{order.description}} </mat-cell>
                    </ng-container>

                  

                    <ng-container matColumnDef="begin-date">
                        <mat-header-cell *matHeaderCellDef class="begin-date"> План. время начала </mat-header-cell>
                        <mat-cell *matCellDef="let order" class="begin-date">{{order.plannedBeginDate|date:"mediumDate"}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="end-date">
                        <mat-header-cell *matHeaderCellDef class="end-date"> План. время конца </mat-header-cell>
                        <mat-cell *matCellDef="let order" class="end-date">{{order.plannedBeginDate|date:"mediumDate"}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="products">
                        <mat-header-cell *matHeaderCellDef class="products"> Кол-во продукции </mat-header-cell>
                        <mat-cell *matCellDef="let order" class="products">{{order.orderQuantumsCount}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="state">
                        <mat-header-cell *matHeaderCellDef class="state"> Статус </mat-header-cell>
                        <mat-cell *matCellDef="let order" class="state">
                                <mat-icon color="warn" class="error" *ngIf="order.state===OrderState.Error" >error</mat-icon>
                                <mat-icon class="done" *ngIf="order.state===OrderState.Ready">done</mat-icon>
                                <mat-icon color="accent" *ngIf="order.state===OrderState.InProcess">schedule</mat-icon>
                                <mat-icon color="primary" *ngIf="order.state===OrderState.Undefined">help</mat-icon>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="calculateOrder">
                        <mat-header-cell class="calculate-button" *matHeaderCellDef></mat-header-cell>
                        <mat-cell class="calculate-button" *matCellDef="let order">
                            <button *ngIf="order.state!==OrderState.Ready&&order.state!==OrderState.InProcess" mat-icon-button color="primary" (click)="calculateOrder(order)">
                                <mat-icon>play_arrow</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="viewGraph">
                        <mat-header-cell class="open-button" *matHeaderCellDef></mat-header-cell>
                        <mat-cell class="open-button" *matCellDef="let order">
                            <button *ngIf="order.state===OrderState.Ready" mat-icon-button color="primary" routerLink="graph/{{order.id}}">
                                <mat-icon>open_with</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="downloadReport">
                        <mat-header-cell class="report" *matHeaderCellDef></mat-header-cell>
                        <mat-cell class="report" *matCellDef="let order">
                            <button *ngIf="order.state===OrderState.Ready" mat-icon-button color="primary">
                                <mat-icon>file_download</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="deleteButton">
                        <mat-header-cell class="delete-button" *matHeaderCellDef></mat-header-cell>
                        <mat-cell class="delete-button" *matCellDef="let order">
                            <button mat-icon-button color="primary" (click)="deleteOrder(order)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                </mat-table>

                <mat-divider></mat-divider>

                <footer>
                    <button color="primary" mat-raised-button (click)="createOrder()">Создать заказ</button>
                    <mat-paginator [length]="pageLength" [pageIndex]="pageNumber" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="handlePageEvent($event)">
                    </mat-paginator>
                </footer>

            </div>
        </mat-card>
    </main>

</div>
